html, body {
  height: 100%;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}
