#search-container {
  left: 0;
  margin: 10px;
  position: absolute;
  top: 0;
  width: 33%;

  #map-search {
    box-shadow: 2px 2px 3px #999;

    input {
      height: 30px;
      padding-left: 10px;
      width: 80%;
    }

    form a {
      background: #c41200;
      color: #fff;
      display: inline-block;
      padding: 7px;
    }
  }

  #results {

    margin-top: 15px;
    width: 100%;

    .result {
      background-color: #fff;
      border-radius: 20px 5px 5px 20px;
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;

      .business-address {
        font-size: 0.8em;
        margin-left: 15%;
      }

      .business-name {
        margin-top: 1%;
        margin-left: 15%;
      }

      img {
        border-radius: 50%;
        display: inline-block;
        float: left;
        height: auto;
        width: 14%;
      }
    }
  }
}
