#search-container {
  left: 0;
  margin: 10px;
  position: absolute;
  top: 0;
  width: 33%;

  #map-search {

    input {
      height: 30px;
      padding-left: 10px;
      width: 75%;
    }

    input:focus {
      outline: none;
      border: 1px solid #c41200;
    }

    form a {
      background: #c41200;
      color: #fff;
      display: inline-block;
      font-size: 0.8em;
      padding: 9px;
      text-align: center;
      text-decoration: none;
      width: 10%;
    }
  }

  #results {

    margin-top: 15px;
    width: 93%;

    .result {
      background: rgba(255,255,255, 0.75);
      border-radius: 20px 5px 5px 20px;
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;

      .business-address {
        font-size: 0.8em;
        margin-left: 15%;
      }

      .business-name {
        margin-top: 1%;
        margin-left: 15%;

        a {
          text-decoration: none;
        }
      }

      img {
        border-radius: 50%;
        display: inline-block;
        float: left;
        height: auto;
        width: 14%;
      }
    }
  }
}
