<div id="map-canvas"></div>

<div id="search-container">
  <div id="map-search">
    <form>
      <input type="text" placeholder="Enter street address/city or zip code">
      <a href="#" id="map-search-submit">
        Search
      </a>
    </form>
  </div>
  <div id="results"></div>
</div>

